@import "color";
@import "./components/scrollbar";
@import "./components/banner";
@import "./components/player";
@import "./components/ourStory";
@import "./components/weddingDetails";
@import "./components/agenda";
@import "./components/rules";
@import "./components/gifts";

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: $main;
  position: relative;
  overflow-x: hidden;
}
section{
  padding: 25px;
}

.madeby{
  color: $main;
  background-color: $secondary;
  text-align: center;
  @include parisienne-regular;
  padding: 25px;

}