.agenda{
    padding: 25px;
    width: 100vw;
    height: auto;
    h2{
        text-align: center;
    }
    .planner{
        margin: 20px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        .wrap{
            max-height: 116px;
        .plan{
            @include josefin-sans-regular;
            position: relative;
            width: 50%;
            text-align: right;
            img{
                width: 60px;
            }
            .heart{
                position: absolute;
                left: 105%;
                top: -1%;
                z-index: 1;
                img{
                    width: 20px;
                }
                
            }
            hr{
                transform: rotate(90deg);
                width: 116px;
                left: 80%;
                position: absolute;
                top: 50%;
                /* background: pink; */
                height: 2px;
                background-color: $secondary;
                border: none;
            }
            .detail{
                // text-align: center;
                width: auto;
                p{
                    padding: 5px 10px;
                }
                .text{
                    background-color: $secondary;
                    padding: 5px 10px;
                    color: white;
                    border-radius: 20px;
                    display: inline-block;
                }
            }
            
        }    
    }    
    }
    @media (max-width:768px) {
        .planner{
            .wrap{
                &:nth-child(even){
                    display: flex;
                    // background: yellow;
                    justify-content: end;
                    .plan{
                        text-align: center;
                        .heart{
                            left: 5%
                        }
                        hr{
                            left: -20%
                        }
                    }
                }
            }    
        }
    }
    @media (min-width:768px) {
        .planner{
            margin: 30px 0;
          flex-direction: row;
          .wrap{
            max-height: unset;
            flex: 0 0 calc(100% / 6);
            .plan{
                text-align: left;
                width: 100%;
                position: relative;
                .heart{                    
                    left: -1%;
                    top: 55%;
                    transform: translateY(-50%);
                    img{
                        width: 20px;
                    }
                    
                }
                hr{
                    transform: rotate(0deg);
                    position: relative;
                    width: auto;
                    left: unset;
                    top: unset;
                    margin: 20px 0;
                }
                .detail{
                    // text-align: center;
                    width: auto;
                    .text{
                        max-width: 75%;
                    }
                }
                
            }    
          }
             
        }
    }
}