@import '../color';

.banner{
    padding: 25px;
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow-x: hidden;
    background-color: #f6f2e6;
    .leaf {
        position: absolute;
        width: 50%;
        &.b {
          &1 {
            top: -15%;
            right: -30%;
          }
          &2 {
            top: -15%;
            left: -30%;
          }
        }
        @media (min-width:768px) {
          width: 25%;
          &.b{
              &1{
                  top: -20%;
                  right: -15%;
              }
              &2 {
                  top: -15%;
                  left: -15%;
                }
          }
        }
      }
    .carousel{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        >div{
            @include yeseva-one-regular;
            height: 45vh;
            flex: 0 0 33%;
            display: flex;
            color: white;
            font-size: 50px;
            justify-content: center;
            align-items: end;
            &.c1{
                background-image: url(./../img/carousel1.jpg);
                // background-color: palegreen;
                background-size: cover;
                background-position: center;
            }
            &.c2{
                background-image: url(./../img/carousel3.jpg);
                // background-color: palegreen;
                background-size: cover;
                background-position: center;
            }
            &.c3{
                background-image: url(./../img/carousel2.jpg);
                // background-color: palegreen;
                background-size: cover;
                background-position: center;
            }
        }
    }
    .title{
        // background-color: aqua;
        margin: 25px 0 ;
        text-align: center;
        color: $secondary;
        p{
            @include josefin-sans-regular;
            text-transform: uppercase;
        }
        h1{
            margin: 25px 0;
            font-size: 50px;
            @include parisienne-regular;
            font-weight: 700;
        }
    }
    @media (min-width:768px) {
        height: 100vh;
        .carousel{
            >div{
                font-size: 70px;
                height: 65vh;
            }
        }
        .title{
            h1{
                font-size: 70px;
            }
        }
    }
}