// @import '../color';
.our-story{
    padding: 25px;
    width: 100%;
    min-height: 50vh;
    .details{
        text-align: center;
        // p{
        //     // @include josefin-sans-regular;
        //     // text-transform: uppercase;
        // }
    }
    
}