.rules{
    padding: 25px;
    background-color: $secondary;
    color: white;
    text-align: center;
    h3{
        color: $main;
    }
    li{
        @include josefin-sans-regular;
        margin: 5px 0;
    }
}